apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: pets
  labels:
    app: mysql

spec:
  type: NodePort
  selector:
    app: mysql
  ports:
    - port: 3306
      protocol: TCP
      targetPort: 3306
