apiVersion: v1
kind: Service
metadata:
  name: petclinic-svc
  labels:
    app: petclinic

spec:
  type: NodePort
  selector:
    app: petclinic
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080

