apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  namespace: pets
  labels:
    app: mysql
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  hostPath:
    path: /mnt/mysql-data

    
